<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}'s Movie List</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='img/demon.gif') }}">
        hj's Movielist
    </h2>
    <p>it is been a long time...</p>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if  not current_user.is_authenticated %}
            <li><a href="{{ url_for('login')}}">login</a></li>
            {% endif %}
            {% if current_user.is_authenticated%}
            <li><a href="{{ url_for('add_movie_item')}}">Add</a></li>
            <li><a href="{{ url_for('setting')}}">setting</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
    
    {% block content %}{% endblock %}
</body>
</html>